<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cornelia Residence</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />     
   
    <!-- Css -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Link:
   https://www.airbnb.com.br/rooms/40363345?adults=1&category_tag=Tag%3A8102&enable_m3_private_room=true&photo_id=917183938&check_in=2024-07-01&source_impression_id=p3_1715644094_ea%2B1lCo9tL0%2FL5FY&previous_page_section_name=1000&federated_search_id=4f7de2b1-387f-4315-b889-a0457900e2ba&guests=1&check_out=2024-07-03 
    -->

</head>
<body>
     
     <div class="container">
            <div class = "title">
                <h1>Cornelia Residence - 2BR Mountain View Suite B&B</h1> 
            </div>        
            <div class="subtitle">
                <i class="fa-solid fa-star icon-1"></i>
                <p>4,77 - Razlog - Blagoevgrad Province - Bulgária</p>
            </div>

            <section class="galeria">
                <img class="img-grande" src="../img/img1.png" alt="Vista da Hospedagem com montanha">
            <div class="quadros">
                <img src="../img/img2.png" alt="Imagens do Hotel de fora" class="side-img">
                <img src="../img/img3.png" alt="Area Spa do Hotel" class="side-img">
                <img src="../img/img4.png" alt="Area da Piscina coberta" class="side-img">
                <img src="../img/img5.png" alt="Area de Lazer com drinks" class="side-img">
            </div>
            </section>

            <section class="description">
                <h2>Descrição</h2>
                <p>Delicie-se com Spa e Bem-estar no Apartamento Privado 1-BR em Boutique B&B Ski Resort. 
                    Desfrute de piscina de água mineral, banho turco, massagem, banheira de hidromassagem e restaurante.</p>
            </section>

            <section class="beneficios">
                
                <h2>O que esse lugar oferece:</h2>
                <!-- mudar icones para os disponiveis no site -->
               <div class="card2">
                 <div class="icons">
                    <i class="fa-solid fa-umbrella-beach icon"></i>
                    <i class="fa-solid fa-wifi icon"></i>
                    <i class="fa-solid fa-water-ladder icon"></i>
                    <i class="fa-solid fa-car icon"></i>
                    <i class="fa-solid fa-person-skiing icon"></i>
                    <i class="fa-solid fa-kitchen-set icon"></i>
                </div>

                <div class="card-valor">
                    <h3>R$769 / noite</h3>
                    <a href="">Buscar disponibilidade</a>
                </div>

               </div>
            </section>
    </div>
</body>
</html>